/* FORM INPUTS */

.newStoryForm label {
  font-size: 0.8rem;
  font-weight: bold;
  color: #0099FF;
}

.newStoryForm input {
  border: none;
  border-bottom: 1px solid #0099FF;
  border-radius: 0px;
  margin-bottom: 25px;
  height: 1.5rem;
  width: 160px;
  font-size: 0.9rem;
  color: #333333;
}

.newStoryForm input:focus {
  outline: none;
}

.newStoryForm select {
  border: none;
  border-bottom: 1px solid #0099FF;
  border-radius: 0px;
  background: none;
  height: 2rem;
  width: 100%;
  font-size: 0.9rem;
  color: #333333;
}

.newStoryForm select:focus {
  outline: none;
}

.newStoryForm textarea {
  border: 1px solid #0099FF;
  border-radius: 0px;
  margin: none;
  width: 95%;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.newStoryForm textarea:focus {
  outline: none;
}

/* FORM */

.newStoryForm .title {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #0099FF;
}

.newStoryForm .metadata {
  display: flex;
  flex-direction: row;
}

.newStoryForm .coverPhotoData {
  margin-right: 20px;
}

.newStoryForm .coverPhoto {
  height: 150px;
  width: 100px;
  object-fit: cover;
}

.newStoryForm .coverPhotoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  height: 150px;
  width: 100px;
  font-size: 3rem;
  color: #aaaaaa;
}

.newStoryForm .descriptionContainer {
  margin-top: 12px;
}

.newStoryForm .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.newStoryForm .buttons .Link {
  margin-left: 15px;
}

.newStoryForm .buttons .cancel {
  color: #e24c4c;
}

.newStoryForm .errorText {
  font-size: 0.7rem;
  color: #e24c4c;
  text-align: center;
  margin-bottom: 0;
}

.newStoryForm .checkbox {
  width: 3rem;
}

.newStoryForm .published {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}