.LibraryPage .background {
  position: fixed;
  background-image: linear-gradient(#0099FF, #57FFD7);
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.LibraryPage .container {
  height: 100%;
  padding-bottom: 3.5rem;
  overflow: scroll;
}

.LibraryPage .storyList {
  display: flex;
  flex-direction: column;
  align-items: center;
}