.Message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.Message.author {
  align-items: flex-end;
}

.Message .authorPic {
  border-radius: 30px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.Message .messageBody {
  max-width: 70%;
}

.Message .authorName {
  margin: 0px 0px 2px 12px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, .40);
}

.Message .messageText {
  border-radius: 1.3em;
  background-color: #f1f0f0;
  padding: 6px 12px 7px;

  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 0px;
  border-style: none;
  outline: none;
  border-image: initial;
  width: fit-content;
}

.Message.author .messageText {
  background-color: #0099FF;
  color: white;
}

.Message .expandedContainer {
  padding: 1rem;
  border: 1px black solid;
}

.Message .expandedContainer .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
