.Message {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

.Message .authorPic {
  border-radius: 30px;
  margin-right: 8px;
  height: 30px;
  width: 30px;
}

.Message .authorName {
  margin: 0px 0px 2px 12px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, .40);
}

.Message .messageImage {
  width: 50%;
  border-radius: 18px;
}

.Message .errorText {
  font-size: 0.7rem;
  color: #e24c4c;
  text-align: center;
  margin-bottom: 0;
}

.Message .messageText {
  outline: none;
  border-radius: 1.3em;
  background-color: #f1f0f0;
  max-width: 200px;
  padding: 6px 12px 7px;
}

.Message .messageText[contenteditable]:empty::before {
  content: "Enter text message...";
  color: #808080;
}

.Message .expandedContainer {
  background-color: #e6e6e6;
  padding: 0.5em 0.8em;
  margin: 0.3em;
  border-radius: 0 1.3em 1.3em 1.3em;
}

.Message .expandedContainer .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0.2em 0px;
}

.Message .expandedContainer input {
  max-width: 2rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border: none;
  background-color: #eeeeee;
  outline: none;
}
